<component name="contentblock" effectClass="MainTransitionEffect">
  <routing path="/products" name="products"></routing>
  <routing path="/blog-listing" name="blog-listing"></routing>
  <routing path="/blog-article" name="blog-article"></routing>
  <routing path="/contact" name="contact"></routing>
  <routing path="/cart" name="cart"></routing>
  <routing path="/product-details" name="product-details"></routing>
  <routing path="/checkout" name="checkout"></routing>
  <routing path="/checkout-success" name="checkout-success"></routing>
</component>
<component name="footer"></component>
