<main id="content" role="main" class="main commerce-listing">
<amp-state id="products">
  <script type="application/json">
    {
      "category": "all",
      "filter": "high-low"
    }
  </script>
</amp-state>
  <amp-img class="commerce-listing-banner xs-hide sm-hide" src="img/e-commerce/wide-listings-hero.jpg" width="2560" height="400" layout="responsive" alt="Product listing" noloading=""><div placeholder="" class="commerce-loader"></div></amp-img>
<section class="commerce-listing-content mx-auto flex flex-wrap pb4">
  <div class="col-3 xs-hide sm-hide flex flex-column">
    <div class="commerce-side-panel pt4 pr4 self-center">
      <h2 class="h5 mb2">Categories</h2>

      <component name="radiocontrols" effectClass="FadeTransitionEffect"></component>

    </div>
  </div>

  <div class="col-12 md-col-7 pt2 pb3 md-px4 md-pt1 md-pb7">
<component name="selectors" effectClass="FadeTransitionEffect"></component>

<component name="productlist" effectClass="FadeTransitionEffect"></component>
  </div>
</section>
</main>
