<!-- Start Radio -->
<div class="ampstart-input ampstart-input-radio inline-block relative m0 p0 mb3 " on="change: AMP.setState({products: {category: &#39;all&#39;}})">
  <input type="radio" value="" name="category" id="all" class="relative" checked="">
  <label for="all" class="" aria-hidden="true">All</label>
</div>
<!-- End Radio -->
<!-- Start Radio -->
<div class="ampstart-input ampstart-input-radio inline-block relative m0 p0 mb3 " on="change: AMP.setState({products: {category: &#39;bikes&#39;}})">
  <input type="radio" value="" name="category" id="bikes" class="relative">
  <label for="bikes" class="" aria-hidden="true">Bikes</label>
</div>
<!-- End Radio -->
<!-- Start Radio -->
<div class="ampstart-input ampstart-input-radio inline-block relative m0 p0 mb3 " on="change: AMP.setState({products: {category: &#39;accessories&#39;}})">
  <input type="radio" value="" name="category" id="accessories" class="relative">
  <label for="accessories" class="" aria-hidden="true">Accessories</label>
</div>
<!-- End Radio -->
<!-- Start Radio -->
<div class="ampstart-input ampstart-input-radio inline-block relative m0 p0 mb3 " on="change: AMP.setState({products: {category: &#39;components&#39;}})">
  <input type="radio" value="" name="category" id="components" class="relative">
  <label for="components" class="" aria-hidden="true">Components</label>
</div>
<!-- End Radio -->
